.detail-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background:radial-gradient( #75ff56c1,rgba(255, 255, 255, 0.722) );
}